body {
  font-family: Plus Jakarta Sans,sans-serif;
  letter-spacing: 0.03em;
}

hr {
  border-color: var(--color-gray-300);
}


.capitalize {
  text-transform: capitalize
}

.uppercase {
  text-transform: uppercase
}

.hover-up,
.hover-up:hover {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up:hover {
  transform: translateY(-3px);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}

.prose {
  max-width: 110ch;
}
